bin/Everyware-HTML-5-app.apk
bin/classes.dex
bin/classes/nl/avans/glasaanhuis/html5/MainActivity$1.class
bin/classes/nl/avans/glasaanhuis/html5/MainActivity.class
bin/jarlist.cache
bin/resources.ap_
gen/nl/avans/glasaanhuis/html5/BuildConfig.java