bin/Everyware-HTML-5-app.apk
bin/classes.dex
bin/classes/nl/avans/glasaanhuis/html5/MainActivity$1.class
bin/classes/nl/avans/glasaanhuis/html5/MainActivity.class
bin/jarlist.cache
bin/resources.ap_
gen/nl/avans/glasaanhuis/html5/BuildConfig.java
bin/jarlist.cache
bin/Everyware-HTML-5-app.apk
bin/resources.ap_
bin/jarlist.cache
bin/Everyware-HTML-5-app.apk
bin/jarlist.cache
bin/resources.ap_
project.properties
gen/nl/avans/glasaanhuis/html5/BuildConfig.java
bin/jarlist.cache
gen/nl/avans/glasaanhuis/html5/BuildConfig.java
bin/jarlist.cache
project.properties
.project
bin/GlasAanHuis.apk
bin/GlasAanHuis.apk
gen/nl/avans/glasaanhuis/html5/BuildConfig.java
bin/jarlist.cache
project.properties
bin/AndroidManifest.xml
bin/classes/nl/avans/glasaanhuis/html5/IJavascriptHandler.class
bin/dexedLibs/android-support-v4-6950ca8940be4886cb26211985628c57.jar
gen/nl/avans/glasaanhuis/html5/BuildConfig.java
bin/classes/nl/avans/glasaanhuis/html5/CustomWebViewclient.class
bin/classes/nl/avans/glasaanhuis/html5/LoginActivity.class
bin/classes/nl/avans/glasaanhuis/html5/MainActivity.class
bin/classes/nl/avans/glasaanhuis/html5/R$attr.class
bin/classes/nl/avans/glasaanhuis/html5/R$dimen.class
bin/classes/nl/avans/glasaanhuis/html5/R$drawable.class
bin/classes/nl/avans/glasaanhuis/html5/R$id.class
bin/classes/nl/avans/glasaanhuis/html5/R$layout.class
bin/classes/nl/avans/glasaanhuis/html5/R$menu.class
bin/classes/nl/avans/glasaanhuis/html5/R$string.class
bin/classes/nl/avans/glasaanhuis/html5/R$style.class
bin/classes/nl/avans/glasaanhuis/html5/R.class
gen/nl/avans/glasaanhuis/html5/R.java
project 1.properties
