*.jar
bin/GlasAanHuis.apk
bin/classes.dex
bin/resources.ap_
GlasAanHuis/bin/R.txt
facebook/bin/jarlist.cache
GlasAanHuis/bin/R.txt
GlasAanHuis/bin/AndroidManifest.xml
GlasAanHuis/bin/MainActivity.apk
facebook/bin/AndroidManifest.xml
facebook/bin/R.txt