body {
    position:absolute;
    color:#fff;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

a.mijnWijk {
    background:#ECECEC; 
    color: #2D8AF9;   
}

a.andereWijk {
    background:#898989; 
    color: white;
}

a.customButton {
    background:#ECECEC; 
    padding:5px 15px; 
    color: gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    text-decoration: none;
    display: inline-block;
}

a.regLinks {
    margin-left: auto;
    margin-right: auto;
    border: 1px #DBDBDB solid;
    padding: 10px;
    position: relative;
    display: inline-block;
}

div.regButtons {
    text-align: center; 
    margin: 20px;
}

div#registration {
    margin: 10px;
    background: rgba(255, 255, 255, .90);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    -moz-box-sizing: border-box;
}

#information {
	position: relative;
	float: left;
}

#buttons {
	position: relative;
	float: left;
	clear: left;
}

.btnFacebook {
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

#afui {
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color: transparent;
}

#inputs {
	text-align:center;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
   /* background-size: cover !important;*/
}

form#registration {
    position: relative;
    margin: 0;
    padding: 0;
}

form#registration input[type=text] {
    border: 1px solid #DBDBDB;
    background-color: #ECECEC;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.status{
    background: rgba(000, 000, 000, .75);
    list-style:none;
    border: 3px outset #C0C0C0;
    margin: 10px;
}
.status li:last-child{
 padding-bottom: 20px;
}
.status li:first-child{
    padding-top:10px;
}
.vague{
width: 100%;
height: 100%;
background-image: url('background.jpg');
/*background: url(background.jpg) no-repeat center center;*/
position: absolute;
}
figure {
margin: 0;
}

#overlay_container {
	position:absolute;
	z-index:999;
	top:0;
	left:0;
}
div#postcode  .postcodezoeken{
    position:relative;
    background: rgba(255, 255, 255, .90);
    list-style:none;
    margin: 10px;
    height:90%;
}
div#postcode input[type=text]{
    background-color:#CFCFCF;
    border: 2px outset #C0C0C0;
    width: 90%;
    border-style: none; 
}
a.postbutton{
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
    padding: 10px;
    position: relative;
    display: inline-block;
}
#zoek{
    color:#000000;
}
div#postlink{
    /*text-align: center; 
    margin: 20px;
    padding-bottom: 15px;*/
}
#results{
    color: gray;
}
