a.mijnWijk {
    background:#E5E5E5; 
    color: blue;
}

a.andereWijk {
    background:#898989; 
    color: white;
}

a.customButton {
    background:#DEDFE0; 
    padding:5px 15px; 
    color: gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 5px; 
    text-decoration: none;
}

a.regLinks {
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
    padding: 10px;
    position: relative;
    display: inline-block;
}

div.regButtons {
    text-align: center; 
    margin: 20px;
}

div#registration {
    margin: 10px;
    background: rgba(232, 233, 234, .75);
    height: 100%;
    -webkit-border-radius: 5px;
    padding: 10px;
}

#information {
	position: relative;
	float: left;
}

#buttons {
	position: relative;
	float: left;
	clear: left;
}

.btnFacebook {
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

#afui {
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color: transparent;
}

#inputs {
	text-align:center;
}

body {
    background-image: url('background.jpg');
	/*background-attachment:fixed;*/
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
	opacity: 0;
    background-size: cover !important;	
}

form#registration input[type=text] {
   /* background-color: #DEDFE0;*/
}